<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <% include head %>
    <% include script.ejs %>
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">
        <% include ./usertopbar %>
        <% include ./sidebar %>
        <div class="page-wrapper" style="background-color:#ffffff">
            <div class="container-fluid">
                <!-- AD -->
                <div class="d-flex justify-content-center">
                    <!-- /7682122/ilivenet_article_728x90_320x100_RWD -->
                    <div id='div-gpt-ad-1559291062996-0'>
                        <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1559291062996-0'); });
                        </script>
                    </div>
                </div>
                <br>

                <div class="card col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">Submit Host Information</h3>
                        <a>Submit your account and chatroom to share your live streaming worldwide.</a><br><br>

                        <form id="hostform" method="POST" action="/host_form_submit">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">Platform</label>
                                <div class="col-md-9">
                                    <select id="platform" class="select2 form-control custom-select" name="platform" style="width: 100%; height:36px;">
                                        <!-- <option>Select</option> -->
                                        <optgroup label="choose your platform">
                                            <option value="YouTube">YouTube</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Twitch">Twitch</option>
                                            <option value="17直播">17直播</option>
                                            <option value="西瓜直播">西瓜直播</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pagelink" class="col-sm-3 control-label col-form-label">Page Link</label>
                                <div class="col-sm-9">
                                    <input type="url" class="form-control" name="pagelink" id="pagelink" placeholder="Page Link">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="account" class="col-sm-3 control-label col-form-label">Account</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="account" id="account" placeholder="Account">
                                    <small class="text-muted">If you're choosing YouTube, please paste your YouTube channel ID from https://www.youtube.com/account_advanced</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="chatroom" class="col-sm-3 control-label col-form-label">Chatroom</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="chatroom" id="chatroom" placeholder="Chatroom">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 control-label col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="border-top">
                                <br>
                                <div class="card-body">
                                    <input type="submit" class="btn btn-success" value="Submit">
                                </div>
                            </div>
                        </form>

                    </div>
            </div>
        </div>
        <% include ./footer %>
    </div>

</body>

</html>
