<aside class="left-sidebar position-fixed" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false"><i class="mdi mdi-home"></i><span class="hide-menu">Home</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="mdi mdi-fire"></i><span class="hide-menu">Hot</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/all" aria-expanded="false"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu">All Streams</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="mdi mdi-history"></i><span class="hide-menu">History</span></a>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="mdi mdi-thumb-up"></i><span class="hide-menu">Liked Videos</span></a>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/platform" aria-expanded="false"><i class="mdi mdi-animation"></i><span class="hide-menu">Platform</span></a>
                <!-- <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="/platform" aria-expanded="false"><i class="mdi mdi-animation"></i><span class="hide-menu">Platform </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item"><a href="/platform/Twitch" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Twitch </span></a></li>
                        <li class="sidebar-item"><a href="/platform/YouTube" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp YouTube </span></a></li>
                        <li class="sidebar-item"><a href="/platform/Facebook" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Facebook </span></a></li>
                        <li class="sidebar-item"><a href="/platform/西瓜直播" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp 西瓜直播 </span></a></li>
                        <li class="sidebar-item"><a href="/platform/17直播" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp 17直播 </span></a></li>
                    </ul>
                </li> -->
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-tag"></i><span class="hide-menu">Category </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp News </span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Sports </span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Games </span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Internet Celebrities </span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Talk Shows </span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span class="hide-menu">&nbsp&nbsp Auctions </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Clothing </span></a></li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Jewelry </span></a></li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Cosmetics </span></a></li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Other Auctions </span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Webcam </span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Music </span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Nature </span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Cartoons </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Settings</span></a>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/host_form" aria-expanded="false"><i class="mdi mdi-wrench"></i><span class="hide-menu">Host Tools</span></a>

                <% if(user.email == "dlivecat@gmail.com"){ %>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-ghost"></i><span class="hide-menu">Root </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/list_all" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp DB Info </span></a></li>
                        <li class="sidebar-item"><a href="/manual_manager" class="sidebar-link"><span class="hide-menu">&nbsp&nbsp Homepage Manual </span></a></li>
                    </ul>
                </li>
                <% } %>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
