<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <% include head %>
    <% include script %>
    <link href="dist/css/starter-template.css" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="container">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <img src="/assets/images/livenet_logo.png" alt="homepage" width="40%" height="40%"/>
                </div>
                <br><br><br><br>

                <div class="row justify-content-center">
                    <h2 style="color:#ffb300">Success!</h2>
                </div>
                <div class="row justify-content-center">
                    <a href="/" class="btn btn-rounded waves-effect waves-light m-b-40" style="color:#000;background-color:#ffb300;border-color:#ffb300">Back to iLiveNet</a>
                </div>

                <br><br><br><br><br><br><br><br><br><br>
                <div class="d-flex justify-content-center">
                    <!-- /7682122/ilivenet_home_728x90_320x100_RWD -->
                    <div id='div-gpt-ad-1559290724228-0'>
                        <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1559290724228-0'); });
                        </script>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>

</html>
