<% if (choices.length == 0 ) { %>
<% } else { %>
    <% choices.forEach(function(choice, index) {%>
        <a class="btn btn-light"role="button" href="<%= baseurl %>/<%= choice %>"><%= choice %></a>
    <%}) %>
<% } %>
