<footer class="footer mt-auto text-center privacy">
    <div class="d-flex justify-content-center">
    <a>Copyright © 2019 iLiveNet. All Rights Reserved.&nbsp</a><a href="/privacy"><u>Privacy terms.</u></a>
    </div>
</footer>
