<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 在某些情況下，描述會作為搜索結果的顯示文字-->
<meta name="description" content="iLiveNet contains rich daily LIVE streaming all over the world.">
<meta name="image" src="/assets/images/logo-icon.png">
<!-- 如果網站是作為一個 App 來使用的話，設置 App 名稱 -->
<meta name="application-name" content="iLiveNet">

<!-- 控制搜索引擎爬蟲和索引的行為 -->
<meta name="robots" content="index,follow,noodp"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<!-- 告訴 Google 不要再搜索框裡面顯示網站鏈接-->
<meta name="google" content="nositelinkssearchbox">

<!-- 告訴 Google 不要翻譯這個頁面 -->
<meta name="google" content="notranslate">

<!-- 對於 Google 搜索驗證所有權 -->
<meta name="google-site-verification" content="verification_token">

<!-- 網站主題的短描述 -->
<meta name="subject" content="Catch up to LIVE streaming.">

<!-- 域名全稱或者網站地址 -->
<meta name="url" content="https://www.ilivenet.com/">

<!-- 根據網站內容給出一個通用的年齡打分 -->
<meta name="rating" content="General">

<!-- Allows control over how referrer information is passed -->
<meta name="referrer" content="origin">

<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no">

<!-- Completely opt out of DNS prefetching by setting to 'off' -->
<meta http-equiv="x-dns-prefetch-control" content="off">

<!-- Specifies the page to appear in a specific frame -->
<meta http-equiv="Window-Target" content="_value">

<!-- for facebook sharing website -->
<meta property="og:title" content="<%= title %>">
<meta property="og:type" content="article">
<meta property="og:description" content="iLiveNet contains rich daily LIVE streaming all over the world.">
<!-- <meta property="fb:app_id" content="{{Config::get('facebook.app_id')}}" > -->
<meta property="og:url" content="https://www.ilivenet.com/">
<meta property="og:image" content="https://i.screenshot.net/v5rlru6">
<meta property="og:site_name" content="iLiveNet">

<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->

<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<title><%= title %></title>
<!-- Bootstrap -->
<!-- <link rel="stylesheet" href="assets⁩/libs⁩/bootstrap⁩/⁨dist/⁨css/bootstrap-social.css"> -->
<!-- Font Awesome -->
<!-- <link href="assets⁩/libs⁩/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
<!-- Custom CSS -->
<link href="/assets/libs/flot/css/float-chart.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/dist/css/style.min.css" rel="stylesheet">
<link href="/dist/css/livecatcustomize.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
