<nav class="navbar navbar-light bg-white justify-content-between fixed-top">
  <a class="navbar-brand" href="/">
    <img src="assets/images/logo-icon.png" width="45" height="30" class="d-inline-block align-top" alt="ilivenet">
  </a>

    <button class="btn btn-outline-warning my-2 my-sm-0" data-toggle="modal" data-target="#myModal">Sign in</button>

</nav>
